*
{
    scrollbar-color: #202324 #454a4d;
}
.project-name
{
    font-size: 3.25rem;
}
body
{
    color: rgb(206, 202, 195);
    background-color: rgb(24, 26, 27);
}
footer
{
    visibility: hidden;
}
.page-header
{
    color: rgb(232, 230, 227);
    background-color: rgb(17, 122, 70);
    /* background-image: linear-gradient(120deg, rgb(17, 70, 122), rgb(17, 122, 70)); */
    background-image: linear-gradient(120deg, rgb(0, 0, 0), rgb(45, 18, 67));
}
.main-content pre
{
    color: #729bae;
    background-color: rgb(29, 31, 32);
    border-color: rgb(29, 31, 32);
    padding: 0.3rem !important;
}
.highlight
{
    background-color: #181a1b;
}
table td
{
    padding: 0 !important;
    border: 1px solid #1d1f20 !important;
}
.highlight .o, .highlight .k, .highlight .kv, .highlight .kn
{
    color: rgb(142, 142, 142);
}
.highlight .nl
{
    color: #cc3b7e;
}
.highlight .nf
{
    color: #882653;
}
::selection
{
    background: #1b1b8e78;
}
