*
{
    scrollbar-color: #202324 #454a4d;
}

@media screen and (max-width: 42em)
{
    .project-name
    {
        font-size:2.75rem
    }
}

.project-name
{
    font-size: 4.25vw;
}

body
{
    color: rgb(206, 202, 195);
    background-color: rgb(24, 26, 27);
    font-family: "Times New Roman";
}

footer
{
    visibility: hidden;
}

.page-header
{
    color: rgb(232, 230, 227);
    background-color: rgb(17, 122, 70);
    /* background-image: linear-gradient(120deg, rgb(17, 70, 122), rgb(17, 122, 70)); */
    background-image: linear-gradient(120deg, rgb(0, 0, 0), rgb(45, 18, 67));
}

.main-content p
{
    text-align: justify;
}

.main-content
{
    font-size: 1.3rem;
}

.main-content pre
{
    color: #729bae;
    background-color: rgb(29, 31, 32);
    border-color: #000;
    padding: 0.3rem !important;
}

.main-content code
{
    padding: 2px 4px;
    font-family: monospace;
    font-size: 1rem !important;
/*    color: #567482;*/
/*    background-color: #f3f6fa;*/
    color: #95cde8;
    background-color: rgb(29, 31, 32);
    border-radius: 0.3rem;
}

.highlight
{
    background-color: #181a1b;
}

table td
{
    padding: 0 !important;
    border: 1px solid #1d1f20 !important;
}

.highlight .o, .highlight .k, .highlight .kv, .highlight .kn
{
    color: rgb(142, 142, 142);
}

.highlight .nl
{
    color: #cc3b7e;
}

.highlight .nf
{
    color: #882653;
}

::selection
{
    background: #1b1b8e78;
}

a:visited, a:active, a:focus, a:link
{
    text-decoration: none;
}

/*div:hover > p
{
    outline: solid;
}

a .entry p
{
    color: #fff;
    font-size: 3rem;
    margin: 0;
}*/

div.entry
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    /*justify-content: center;
    align-items: center;
    display: flex;*/
    margin-top: 5vh !important;
    position: relative;
}

p.title
{
    font-family: 'Roboto Condensed';
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 8px;
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

svg
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shape
{
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    fill: transparent;
    stroke: #fff;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

div.entry:hover .shape
{
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

#posts
{
    margin-top: 0;
    font-size: 2.5rem;
}

ul
{
    list-style-type: circle;
    padding: 0 2rem;
}

ul.entries
{
    list-style-type: none;
    padding: 0;
}
